
src/Implementation/lib/Landis.Library.Metadata-v2.dll
/src/Implementation/obj
/src/Implementation/obj
src/Implementation/obj/project.assets.json
/src/Core/obj
/src/Core/bin
.vs/ProjectEvaluation/library_core.projects.v7.bin
.vs/ProjectEvaluation/library_core.metadata.v7.bin
.vs/Library_Core/v17/DocumentLayout.json
.vs/Library_Core/v17/.suo
.vs/Library_Core/v17/.futdcache.v2
.vs/Library_Core/FileContentIndex/6cde7cd4-c75c-42fd-967c-5f7f23dc9286.vsidx
.vs/Library_Core/FileContentIndex/0ebe988d-aa0a-45a6-8af0-8fbe36293cb8.vsidx
.vs/Library_Core/DesignTimeBuild/.dtbcache.v2
.vs/Library_Core/FileContentIndex/033db547-d0ef-4ab9-b858-b253a7a0db2b.vsidx
/src/Core/bin
src/Core/bin/Release/netstandard2.0/Landis.Core.deps.json
src/Core/bin/Release/netstandard2.0/Landis.Core.dll
src/Core/bin/Release/netstandard2.0/Landis.Core.pdb
/src/Core/obj
.vs/Library_Core/FileContentIndex/473a8c12-8a04-4542-ae24-99fc32fe7d6f.vsidx
.vs/Library_Core/FileContentIndex/606a76db-64c4-4f01-b691-befbdc4e158b.vsidx
/src/Core/bin
/src/Core/bin/Release
src/Core/bin/Release/netstandard2.0/Landis.Core.deps.json
/src/Core/bin
src/Core/bin/Release/netstandard2.0/Landis.Core.deps.json
